@page
@model altair_clockInOut_app.Pages.UserProfileData.UserProfileDataModel
@{
}

<link rel="stylesheet" href="~/css/UserProfileData.css" asp-append-version="true" />

<section>
    <div class="margen-30px">
        <!--Contenedor con la información del usuario-->
        <div class="contenedor-gris">
            <p class="tamaño-fuente-20px"><b>Datos personales de:</b> Regino Fernandez Garcia</p>
            <p class="tamaño-fuente-20px"><b>Nombre completo:</b> Regino Fernandez Garcia</p>
            <p class="tamaño-fuente-20px"><b>Correo:</b> rfg@altair.edu.es</p>
            <p class="tamaño-fuente-20px"><b>Departamento:</b> Formacion Profesional</p>
            <p class="tamaño-fuente-20px"><b>Turno:</b> Mañana</p>
            <p class="tamaño-fuente-20px"><b>Observaciones:</b> Tutor de CSI2 DAW</p>
            <p class="tamaño-fuente-20px"><b>Ultimo acceso:</b> 2022-12-12 13:24:16 </p>
        </div>
    </div>

    <div class="contenedor-boton-volver">
        <a class="boton-volver" type="submit" asp-page="/UserProfile/UserProfile">
            Volver
        </a>
    </div>
</section>