@page
@model altair_clockInOut_app.Pages.List.ListModel
@{
}

<link rel="stylesheet" href="~/css/list.css" asp-append-version="true" />

<div class="table-container">
    <h1 class="heading">tabla responsiva</h1>

    <table class="table">
        <thead>
            <tr>
                <th>nombre</th>
                <th>departamento</th>
                <th>Turno</th>
                <th>observaciones</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td data-label="nombre">javier</td>
                <td data-label="departamento">informatica</td>

                <td data-label="Turno">tarde</td>
                <td data-label="observaciones">es el mejor</td>
                <td data-label="#"><a href="#" class="btn"> informes</a> </td>
            </tr>


            <tr>
                <td data-label="nombre">javier</td>
                <td data-label="departamento">informatica</td>

                <td data-label="Turno">tarde</td>
                <td data-label="observaciones">es el mejor</td>
                <td data-label="#"><a href="#" class="btn"> informes</a> </td>
            </tr>

            <tr>
                <td data-label="nombre">javier</td>
                <td data-label="departamento">informatica</td>

                <td data-label="Turno">tarde</td>
                <td data-label="observaciones">es el mejor</td>
                <td data-label="#"><a href="#" class="btn"> informes</a> </td>
            </tr>

            <tr>
                <td data-label="nombre">javier</td>
                <td data-label="departamento">informatica</td>

                <td data-label="Turno">tarde</td>
                <td data-label="observaciones">es el mejor</td>
                <td data-label="#"><a href="#" class="btn"> informes</a> </td>
            </tr>
        </tbody>
    </table>
</div>