@page
@model altair_clockInOut_app.Pages.UserPasswordPanel.UserPasswordPanelModel
@{
}

<link rel="stylesheet" href="~/css/userPasswordPanel.css" asp-append-version="true" />

<section>
    <div class="margen-40px contenedor-fila">
        <!--Contenedor con la información del usuario-->
        <div class="fila-columna-menu padding-horizontal">
            <h5>Administra tu cuenta</h5>
            <div class="contenedor-gris-administrar">
                <a class="tamaño-fuente-20px tdn color-white a-no-animation" asp-page="/UserPasswordPanel/UserPasswordPanel">Contraseña</a>
                <hr>
                <a class="tamaño-fuente-20px tdn color-white a-no-animation" asp-page="/UserProfileData/UserProfileData">Datos personales</a>
            </div>
        </div>

        <div class="fila-columna padding-horizontal margen-top-0px">
            <h5 class="margen-bottom-10px margen-top-10px">Contraseña</h5>
            <div class="input">
                <div>
                    <input type="password" placeholder="***********">
                </div>
                <div class="mostrar-contraseña">
                    <input type="checkbox" onclick="myFunction()">Show Password
                </div>
                <div>
                    <button class="boton-editar-contraseña">Cambiar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-boton-volver">
        <a class="boton-volver" type="submit" asp-page="/UserProfile/UserProfile">
            Volver
        </a>
    </div>
</section>