@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contenedor-gris {
    border-radius: 16px;
    background-color: grey;
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
}

.contenedor-gris-administrar {
    border-radius: 16px;
    background-color: #1b3e5f;
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    width: 200px;
    height: 120px;
    color: white;
}



.margen-top-0px {
    margin-top: 0px;
}

.margen-bottom-10px {
    margin-bottom: 25px;
}

.margen-40px {
    margin: 40px;
}

.padding-horizontal {
    padding-left: 20px;
    padding-right: 20px;
}

.contenedor-boton-volver {
    display: flex;
    flex-direction: row;
    /* align-items: center;
  align-content: center;
  justify-content: center; */
    margin-left: 100px;
    margin-top: 20px;
}

.contenedor-fila {
    display: flex;
    flex-direction: row;
}

.fila-columna {
    display: flex;
    flex-direction: column;
}

.fila-columna-menu {
    display: flex;
    flex-direction: column;
}

.boton-volver {
    border-radius: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-style: none;
    background-color: #1b3e5f;
    color: white;
    margin-bottom: 20px;
}

.tdn {
    text-decoration: none;
    text-transform: none;
    text-decoration-style: none;
}

.color-white {
    color: white;
}

@media only screen and (max-width: 600px) {
    .contenedor-fila {
        display: flex;
        flex-direction: column;
    }

    .fila-columna-menu {
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .fila-columna {
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .contenedor-boton-volver {
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 20px;
    }

    .boton-volver {
        border-radius: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        border-style: none;
        background-color: #1b3e5f;
        color: white;
        margin-bottom: 20px;
        margin-right: 100px;
    }

    .contenedor-gris {
        border-radius: 16px;
        background-color: grey;
        text-align: start;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 300px;
        margin-left: 200px;
        margin-right: 200px;
    }
}
