@page
@model altair_clockInOut_app.Pages.ConfirmDeleteUser.ConfirmDeleteUserModel
@{
}

<link rel="stylesheet" href="~/css/confirmDeleteUser.css" asp-append-version="true" />

<section>
    <div class="margen-20px">
        <p class="texto-centrado tamaño-fuente-18px ">¿Está seguro de <b>eliminar</b> a este usuario?</p>
        <!--Contenedor con la información del usuario a eliminar-->
        <div class="contenedor-rojo">
            <p class="tamaño-fuente-20px"><b>Datos personales de:</b> Regino Fernandez Garcia</p>
            <p class="tamaño-fuente-20px"><b>Nombre completo:</b> Regino Fernandez Garcia</p>
            <p class="tamaño-fuente-20px"><b>Correo:</b> rfg@altair.edu.es</p>
            <p class="tamaño-fuente-20px"><b>Departamento:</b> Formacion Profesional</p>
            <p class="tamaño-fuente-20px"><b>Turno:</b> Mañana</p>
            <p class="tamaño-fuente-20px"><b>Observaciones:</b> Tutor de CSI2 DAW</p>
            <p class="tamaño-fuente-20px"><b>Ultimo acceso:</b> 2022-12-12 13:24:16 </p>
        </div>
    </div>
</section>
<!-- Esta sección será un formulario -->
<section>
    <form>
        <div class="fila-centrada">
            <div class="columna texto-centrado padding-drcha-10px">
                <p class="margen-0  padding-0">Escriba el nombre completo</p>
                <p class="margen-0 padding-0 ">para confirmar la eliminación:</p>
            </div>
            <div class="input-container">
                <input placeholder="Nombre completo del usuario" class="input-nombre-eliminar">
            </div>

        </div>

        <div class="fila-centrada-botones">
            <div class="padding-drcha-20px margen-15px ">
                <button class="boton-confirmar" type="submit">Confirmar</button>
            </div>

            <div class="padding-drcha-20px margen-15px ">
                <button class="boton-cancelar" type="submit">Cancelar</button>
            </div>
        </div>
    </form>
</section>